<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- db접속 정보 파일 -->
	<properties resource="com/jb/db/db.properties" />

	<!-- typeAlias -->
	<typeAliases>
		<typeAlias type="com.jbdto.JBDto" alias="jbdto" />
	</typeAliases>

	<!-- db접속 설정 -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>


	<!-- mapper 경로 설정 -->
	<mappers>
	<mapper resource="com/jb/db/JBMapper.xml" />
	</mappers>


</configuration>